include rust/Cargo.toml
include rust/Cargo.lock
include rust/build.rs
recursive-include rust/src/ *.rs
include rust/include/pyroscope_ffi.h
include cpp/CMakeLists.txt
include cpp/BundleStaticLibrary.cmake
recursive-include cpp/ *.h
recursive-include cpp/ *.cpp
recursive-include cpp/ *.hpp

recursive-include cpp/ *.cc
recursive-include cpp/ CMakeLists.txt *.cmake
include vendor.md
include cpp/vendor/dd-trace-py/README.md
include cpp/vendor/dd-trace-py/SHA256SUMS
include cpp/vendor/dd-trace-py/LICENSE*
include cpp/vendor/dd-trace-py/NOTICE
